
#container{
	height:500px ;
	width: 700px;
	border: 3px solid white;
	position: fixed;
	top: 180px;
	left: 100px;

}
/*button styling*/
.column-select{
	float: left;
	left: 138px;
	position: relative;
}
#button1, #button2, #button3, #button4, #button5, #button6, #button7{
	/*position: relative;*/
	/*left:318px;*/
	width: 58px;
	height: 58px;
	border-radius: 50px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	color: black;
	font-size: 14px;
	font-weight: bold;
	border-top:			2px solid white;
	border-left:		2px solid white;
	border-right:		2px solid white;
	border-bottom:		2px solid white;
	background-color:	transparent;
    -webkit-box-shadow: 
        0px 0px  3px 0px  black, 
        0px 0px  4px 0px  black,
        0px 0px  5px 0px  black,

        0px 10px 3px -1px rgba(128,128,128,1);
}
body {
    background-image: url("http://previews.123rf.com/images/roystudio/roystudio1209/roystudio120900129/15378970-bright-canvas-texture-background-with-delicate-striped-pattern-Stock-Photo.jpg");
    background-repeat: repeat-x;
}


.blackToken{
	width: 59px;
	height: 59px;
	border-radius: 50px;
	background-color:black;
}
.redToken{
	width: 59px;
	height: 59px;
	border-radius: 50px;
	background-color: #FF0000;
}

#turns{
	color:black;
}


/*Game board styling*/
#grid{
	width: 100%;
	display: inline-block;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#column-1, #column-2, #column-3, #column-4, #column-5, #column-6, #column-7 {
	float: left;

}

#column-1 div{
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}
#column-2 div {
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}
#column-3 div{
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}
#column-4 div{
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}
#column-5 div{
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}
#column-6 div{
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}
#column-7 div{
	height: 60px;
	display: block;
	width: 60px;
	border: 1px solid white;
}






